:root {
    font-size: 19px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    padding: 70px;
}

section {
    padding: 60px 8%;
}

/*NavBar*/
header {
    background: #ecf0ef;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
    color: rgba(3, 83, 75, 0.937);
}

.logo {
    font-size: 2rem;
    font-style: italic;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: rgba(3, 83, 75, 0.937);
    text-decoration: none;
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 15px;
    font-size: 1rem;
}

.buttons a {
    text-decoration: none;
    color: rgba(3, 83, 75, 0.937);
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

/*Hero*/
.hero {
    height: 50vh;
    background: url("https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.hero-content {
    text-align: center;

    padding: 2rem;
    color: white;
    border-radius: 10px;
}

.hero-content p {
    font-size: 25px;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: white;
}

.hero-content h3 {
    font-size: 1.5rem;
    color: white;
}

.cta-btn {
    padding: 0.7rem 1.5rem;
    background: #ffc107;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/*Features*/

.features {
    padding: 3rem 2rem;
    text-align: center;
}

.features h2,
h3 {
    color: rgba(3, 83, 75, 0.937);
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.feature-card {
    padding: 1.5rem;
    background: #f4f4f4;
    border-radius: 10px;
}

/*Destinations*/
.destinations,
h2 {

    color: rgba(3, 83, 75, 0.937);
    text-align: center;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: stretch;
    margin-top: 40px;
}

.destination-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.destination-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-top h3 {
    margin: 0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.rating i {
    color: gold;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #555;
}

.price {
    color: #e74c3c;
    font-weight: bold;
}

/*clentreview*/

.clientreview {

    text-align: center;
    background: #fff;
}

.clientreview h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.reviewbox {
    max-width: 700px;
    margin: auto;
}

.clientimage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.reviewbox h3 {
    margin: 5px 0;
    color: #ff9800;
}

.role {

    font-size: 0.9rem;
    margin-bottom: 20px;
    font-style: italic;

}

/*blog*/

.blog {

    text-align: center;
}

.blog h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.blogpara {


    max-width: 600px;
    margin: 0 auto 50px;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.blog-image {
    height: 300px;
    overflow: hidden;
}

.blog-image img {
    width: 100%;
    height: 100;
    object-fit: cover;
}

.blog-content {
    text-align: left;

}

.blog-content p {

    margin-bottom: 15px;
    font-size: 0.95rem;
}

/*Contact*/
.contact,
h2 {
    padding: 3rem 2rem;
    text-align: center;
    color: rgba(3, 83, 75, 0.937);
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.contact-form input,
.contact-form textarea {
    padding: 0.7rem;
    font-size: 1rem;
}

.contact-form button {
    padding: 0.7rem;
    background: #16c6e5;
    color: white;
    border: none;
}

/*Footer*/
footer {

    background: #f5f7fa;
    padding: 60px 20px;
}

.footer-box {
    background: #1f2933;
    color: #fff;
    max-width: 1100px;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-col p {
    font-size: 14px;
    color: #cbd5e1;
}


.footer-bottom {
    margin: top 30px;
    padding-top: 20px;
    border-top: 1px solid #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.copyright {
    margin-left: 280px;
}


/*Mobile View**/
@media(max-width:768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        color: rgba(3, 83, 75, 0.937);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: white;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.show {
        display: flex;

    }

    .buttons {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero {
        padding: 20px;
        text-align: center;
        min-height: 30vh;
    }

    .hero h2 {
        font-size: 1.8rem;
    }

    .hero h3 {
        font-size: 1rem;
    }

    .feature-grid,
    .destination-grid {
        grid-template-columns: 1fr;
    }

    .destinations {
        padding: 40px 5%;
    }



    .blog-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .blog-image img {
        height: 220px;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .copyright {
        margin-left: 80px;
    }


}

/* Tablet View*/
@media(min-width:769px) and (max-width:1024px) {


    .hero {
        min-height: 50vh;
    }

    .hero-content h2 {
        font-size: 2.4rem;
    }

    .hero-content h3 {
        font-size: 1.3rem;
    }

    nav ul {
        gap: 15px;
    }

    .feature-grid,
    .destination-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}